.intro{
  display: flex;
  flex-direction: column;
  margin-left: 200px; 
  margin-right: 100px;
  margin-top: 150px;
  background-color: rgb(240, 240, 240);
  padding: 20px;
  min-width: 300px;
}

.greeting{
  font-size: 25px;
}

.name{
  text-align: center;
  font-size: 50px;
}

.intro-content{
  display: flex;
  justify-content: space-between;
}

.intro-left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}

.short-intro{
  margin-top: 40px;
  font-size: 20px;
}

.short-intro p{
  margin-top: 10px;
}

.get-in-touch-button{
  margin-top: 100px;
  white-space: nowrap;
  width: 100px;
  border: 1 solid 2px;
}

.get-in-touch-button:focus, .get-in-touch-button:active {
  outline: none;
}

.intro-right-section{
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 50px;
}

.intro-right-section img{
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.portfolio-welcome{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding-bottom:20px;
  margin-bottom: 20px;
}
