.intro{
  display: flex;
  flex-direction: column;
  margin-left: 200px; 
  margin-right: 100px;
  margin-top: 150px;
  background-color: lightseagreen;
}

.greeting{
  font-size: 25px;
}

.name{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.intro-content{
  display: flex;
  justify-content: space-between;
}

.intro-left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}

.short-intro{
  margin-top: 50px;
}

.get-in-touch-button{
  margin-top: 100px;
  white-space: nowrap;
  width: 100px;
}

.intro-right-section{
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.intro-right-section img{
  width: 100%;
  height: auto;
}