main{
  display: flex;
  flex-direction: column;
  margin-left: 200px; 
  margin-right: 100px;
  margin-top: 150px;
  background-color: lightseagreen;
  padding: 20px;
  min-width: 300px;
}

.project-page-title{
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom:20px;
  font-size: 50px;
  margin-bottom: 20px;
  min-width: 300px;
}

.project-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  min-width: 300px;
}

@media (max-width: 750px){
  .project-grid{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px){
  .project-grid{
    grid-template-columns: 1fr 1fr;
  }
}

.project-preview{
  border: 1px solid black;
  border-radius: 2px;
  padding: 20px;
}

.project-name{
  font-size: 20px;
  font-weight: bold;
}

.project-picture{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.project-picture img{
  width: 75%;
  height: auto;
  border-radius: 5px;
}

.project-info{
  display: flex;
  flex-direction: column;
}

.project-pos-date{
  display: flex;
  justify-content: space-between;
}

.project-pos{

}

.project-date{

}

.project-description{
  margin-top:20px;
}

.project-description p{
  margin-top: 10px;
}

.project-link{
  margin-top: 20px;
  width: 100px;
  height: auto;
}