.intro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 200px; 
  margin-right: 100px;
  margin-top: 150px;
  padding: 20px;
  min-width: 300px;
  position: relative;
}

.resume-title{
  border-bottom: 1px solid grey;
  padding-bottom:20px;
  font-size: 50px;
  margin-bottom: 50px;
}

.pdf-container {
  position: relative;
  width: 100%;  
  height: auto; 
  max-width: 800px; 
  overflow: hidden;
}

.pdf-container canvas {
  width: 100%; 
  height: auto;
}

.download-button {
  display: inline-block;          
  margin-top: 20px;              
  padding: 5px 10px 5px 10px;            
  color: black;          
  text-decoration: none;         
  border-radius: 3px;           
  border: 1px solid black;
}

.download-button:hover {
  background-color: rgb(223, 223, 223);
}
