.intro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 200px; 
  margin-right: 100px;
  margin-top: 150px;
  padding: 20px;
  min-width: 300px;
  position: relative;
}

.resume-title{
  border-bottom: 1px solid grey;
  padding-bottom:20px;
  font-size: 50px;
  margin-bottom: 20px;
}

.pdf-container{
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  margin: 50px;
}

.pdf-container iframe{
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
